
<div class="card-panel">
  <h5>Panel de administración</h5>
  <table class="striped highlight responsive-table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Teléfono</th>
        <th>Rol</th>
        <th>Fecha Registro</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(u => { %>
        <tr>
          <td><%= u.name %> <%= u.lastName %></td>
          <td><%= u.email %></td>
          <td><%= u.phoneNumber %></td>
          <td><%= u.roles.map(r => r.name).join(', ') %></td>
          <td><%= u.createdAt.toDateString() %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
