

<div class="card-panel">
  <h5>Perfil de <%= user.name %> <%= user.lastName %></h5>
  <ul class="collection">
    <li class="collection-item">Correo: <%= user.email %></li>
    <li class="collection-item">Teléfono: <%= user.phoneNumber %></li>
    <li class="collection-item">Nacimiento: <%= user.birthdate.toDateString() %></li>
    <li class="collection-item">Dirección: <%= user.address || 'No registrado' %></li>
  </ul>
  <a href="/dashboard" class="btn teal">Volver</a>
</div>
